<div class="p-4">
  <div class="flex flex-col lg:flex-row gap-4 mb-4 justify-between items-start">
    <div class="">
      <mat-form-field appearance="fill" class="w-full max-w-md">
        <mat-label>Search for a location</mat-label>
        <input matInput [(ngModel)]="searchText" [matAutocomplete]="auto" (input)="onSearchChange($event)" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let location of filteredLocations" [value]="location.LocalizedName"
            (click)="onLocationSelected(location)">
            {{ location.LocalizedName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div class="w-full min-w-[300px] p-4 rounded-lg shadow-lg bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100">
        <div *ngIf="loadingWeather" class="flex items-center justify-center min-h-[100px]">
          <mat-spinner diameter="50"></mat-spinner>
        </div>
        <div *ngIf="!loadingWeather && currentWeather">
          <h3 class="text-xl font-semibold text-center">
            Current Weather in {{ selectedLocation?.LocalizedName || 'Unknown' }}
          </h3>
          <p class="text-lg text-center mt-2">
            Temperature: <span class="font-bold">
              {{ weatherService.isMetric ? currentWeather[0].Temperature.Metric.Value :
              currentWeather[0].Temperature.Imperial.Value }}°
              {{ weatherService.isMetric ? 'C' : 'F' }}
            </span>
          </p>
          <p class="text-center italic">{{ currentWeather[0].WeatherText }}</p>
        </div>


        <div *ngIf="loadingForecast" class="flex items-center justify-center min-h-[200px]">
          <mat-spinner diameter="50"></mat-spinner>
        </div>

        <div *ngIf="!loadingForecast && forecastData.length > 0" class="mt-4">
          <h4 class="text-lg font-semibold text-center">5-Day Forecast</h4>
          <div *ngFor="let forecast of forecastData" class="border-b py-2">
            <p class="text-sm text-center" @fadeInSlideUp>
              <span class="font-bold">{{ forecast.Date | date: 'dd/MM/yyyy' }}</span> -
              High: <span class="text-red-500">{{ forecast.Temperature.Maximum.Value }}°{{ weatherService.isMetric ? 'C'
                : 'F' }}</span> /
              Low: <span class="text-blue-500">{{ forecast.Temperature.Minimum.Value }}°{{ weatherService.isMetric ? 'C'
                : 'F' }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col justify-end">
      <div class="flex gap-8 justify-end">
        <button class="bg-[#1eaf67] p-[16px] rounded-lg hover:scale-105 hover:shadow-xl" mat-raised-button
          (click)="toggleFavorite()">
          {{ isFavorite() ? '⭐ Remove from Favorites' : '☆ Add to Favorites' }}
        </button>
        <button class="bg-[#87e48c] p-[16px] rounded-lg hover:scale-105 hover:shadow-xl" mat-raised-button
          (click)="goToFavorites()">
          View Favorites
        </button>
      </div>
      <div class="pt-[16px]">

        <div *ngIf="isLoadingRecommendation">
          <mat-spinner diameter="30"></mat-spinner>
        </div>
        <div class="flex justify-end">
          <button *ngIf="currentWeather"
            (click)="fetchClothingRecommendation(currentWeather?.[0]?.Temperature?.Metric?.Value, currentWeather?.[0]?.WeatherText)"
            class="my-[12px] bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
            Get Clothing Recommendation
          </button>
        </div>
        

        <div class="flex justify-end">
          <p *ngIf="!isLoadingRecommendation && clothingRecommendation && currentWeather"
             class="text-lg text-center p-4 w-full max-w-[40%] rounded-lg shadow-lg bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100 min-w-[200px]">
            {{ clothingRecommendation }}
          </p>
        </div>

      </div>
    </div>

  </div>
</div>